
#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #999;
}

.contacts {
  width: 100%;
  margin: 0 10%;
}
.user {
  margin-left:5%;
  display: block;
  width: 300px;
  float: left;
}
.message {
  margin:0px;
  display: block;
  width: 600px;
  float: left;
}
.userPolitic {
  margin-left:5%;
  display: block;
  width: 300px;
  float: left;
}

.search-field {
  resize: none;
  width: 578px;
  height:100px;
  padding: 10px;
  font-size: 16px;
}

.contacts-list {
  height: 600px;
  overflow:auto;
  overflow-x:hidden;
  padding: 0;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted grey;
}
.contact-info {
  margin-right: 15px;
  width: 100%;
}
.contact-image {
  width:60px;
  border-radius: 50%;
  margin: 5px;
}

.contact-name {
  font-size: 20px;
  font-weight: bold;
}
.contact-delete {
  font-size: 10px;
  float: right;
}
.contact-date {
  font-size: 11px;
  color: grey;
  float: right;
}
.contact-number {
  font-size: 18px;
  color: grey;
}